<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        h1 Not Found Erorr.
        h2 Status-code: #{err.status}
        p= err.message

        a(href="/") Go Back