extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Oliver Duran

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | Programming has always been in my mind since I knew about it, being able to create solutions, fun, help, and connections between people with just a few lines of code it's just awesome.
            | my purpose has always been to learn from other people and from myself, which helped my teamwork skills a lot and I could say that, is  one of my biggest skills, being able to listen an actually put effort on understanding
            | the point of view from the person talking to me.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li HTML
          li CSS
          li JavaScript
          li NodeJs
          li Express
          li React
          li Redux
          li Next-JS
          li SQL
        h6 Contact Info

        ul
          li 929-229-9346
          li bboyonda@gmail.com

        a.button.expanded(href='https://github.com/Oliver-DA' target = "_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  