extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Oliver Duran

        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Programming has always been in my mind since i knew about it, being able to create solutions, fun, help, and conections between people with just a few lines of code it's just plain awesome.
            | my purpuse has always been to learn from other people and from myself, that helped my teamwork skills a lot and i could say that's is one of my biggest skills, being able to listen an actually put effort on understand
            | the point of view of the person talking to me.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li Express
          li Node JS
          li JavaScript
          li CSS
          li HTML
          li React
          li Redux
          li SQL
        h6 Contact Info

        ul
          li 929-229-9346
          li bbyonda@gmail.com

        a.button.expanded(href='https://github.com/Oliver-DA' target = "_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  