extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div 
      h1 My Portfolio
 
      p.lead.text-light
        | This portfolio is to show some of the projects that I've worked on, the skills that i gained from them, and also one or two things about myself.
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3    
     
      each project in projects
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`)
            h5= project.project_name
      
